.goods{
display: flex;
flex-direction: row;
justify-content: center;
align-items: stretch;
margin-bottom: 50px;
}
.goods_text {
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    color: black;
    line-height: 1.8;
}
table{
    margin-top: 20px;
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
td{
    height: 80px;
    width: 100px;
    text-align: -webkit-center;
}
.red{
    background-color: rgb(128, 0, 0);
}
.green{
    background-color: rgb(86, 111, 74);
}
.blue{
    background-color: rgb(0, 97, 138);
}
.brown{
    background-color: rgb(88, 45, 37);;
}
.grey{
    background-color: rgb(153, 153, 153);
}

.form_radio_btn {
	display: inline-block;
    width:  98px;
    text-align: -webkit-center;
    margin-bottom: 15px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	cursor: pointer;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 3px;
	user-select: none;

}
 

.form_radio_btn input[type=radio]:checked + label {
	background: greenyellow;
}
 
